---
import Countdown from "../components/Countdown";
import Main from "../layouts/Main.astro";
import languages from "../services/languages.json";
import "../styles/hero.css";
import "../styles/faq.css";
import { Language } from "../services/types";
import Interactivity from "../components/Interactivity";
import FAQ from "../components/FAQ";
import type { IEvent } from "../services/types";

const copy = languages.nl;
const temp = await Astro.glob("../content/schedule/*.md");

const events = await Promise.all(
  temp.map(async (event: any): Promise<IEvent> => {
    return {
      title: event.frontmatter.title,
      name: event.frontmatter.name,
      startTime: event.frontmatter.startTime
        ? new Date(event.frontmatter.startTime)
        : null,
      endTime: event.frontmatter.endTime
        ? new Date(event.frontmatter.endTime)
        : null,
      startTime2: event.frontmatter.startTime2
        ? new Date(event.frontmatter.startTime2)
        : null,
      endTime2: event.frontmatter.endTime2
        ? new Date(event.frontmatter.endTime2)
        : null,
      location: event.frontmatter.location,
      heroImage: event.frontmatter.heroImage,
      tags: event.frontmatter.tags,
      content: event.compiledContent(),
    };
  })
);
---

<Main title={copy.title} description={copy.description}>
  <div id="hero" class="hero">
    <div class="hero__top margins">
      <span id="hero__date" class="hero__date">{copy.date.festival}</span>
      <h1 id="hero__title" class="hero__title">{copy.title}</h1>
      <button id="faq__button" class="faq__button">Veelgestelde vragen</button>
    </div>
    <Interactivity events={events} client:only="react" />
    <div id="hero__bottom" class="hero__bottom margins">
      <Countdown client:only="react" language={Language.NL} />

      <p class="hero__intro">
        Wandel langs sfeervolle routes en ontdek <span class="bold"
          >intieme optredens</span
        >, kunstinstallaties, muziek en meer. Laat je raken door het thema
        ‘eenzaamheid’ en geniet van een avond vol <span class="bold"
          >warmte en creativiteit</span
        >.
      </p>
      <svg
        class="hero__arrow"
        width="16"
        height="31"
        viewBox="0 0 16 31"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M9 0V30C9 30.5523 8.55228 31 8 31C7.44772 31 7 30.5523 7 30V0H9Z"
        ></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M0.292893 22.2929C0.683417 21.9024 1.31658 21.9024 1.70711 22.2929L8 28.5858L14.2929 22.2929C14.6834 21.9024 15.3166 21.9024 15.7071 22.2929C16.0976 22.6834 16.0976 23.3166 15.7071 23.7071L8.70711 30.7071C8.31658 31.0976 7.68342 31.0976 7.29289 30.7071L0.292893 23.7071C-0.0976311 23.3166 -0.0976311 22.6834 0.292893 22.2929Z"
        ></path>
      </svg>
    </div>
  </div>
  <FAQ client:load />
  <button id="faq__back__button" class="faq__button back">
    Terug naar overzicht
  </button>
  <script>
    import { gsap } from "gsap";

    const faqTL = gsap.timeline({ paused: true });
    const faqButton = document.getElementById("faq__button");
    const faqBackButton = document.getElementById("faq__back__button");
    if (faqButton) {
      faqButton.addEventListener("click", () => {
        console.log("clicked");
        faqTL
          .to("#schedule", {
            x: "100vw",
            duration: 1,
            ease: "power2.out",
          })
          .to(
            "#hero__title",
            {
              x: "100vw",
              duration: 1,
              ease: "power2.out",
            },
            "<"
          )
          .to(
            "#hero__date",
            {
              x: "100vw",
              duration: 1,
              ease: "power2.out",
            },
            "<"
          )
          .to(
            "#faq__button",
            {
              x: "100vw",
              duration: 1,
              ease: "power2.out",
            },
            "<"
          )
          .to(
            "#faq",
            {
              x: "0",
              duration: 1,
              ease: "power2.out",
            },
            "<"
          )
          .to(
            "#faq__back__button",
            {
              x: "0",
              duration: 1,
              ease: "power2.out",
            },
            "<+=0.5"
          );
        faqTL.play();
      });
    }

    if (faqBackButton) {
      faqBackButton.addEventListener("click", () => {
        faqTL.reverse();
      });
    }
  </script>
</Main>
