---
import languages from "../services/languages.json";
import "../styles/hero.css";
import "../styles/faq.css";
import "../styles/global.css";
import FAQ from "../components/FAQ";
import Countdown from "../components/Countdown";
import Interactivity from "../components/Interactivity";
import { Language, type IEvent } from "../services/types";
import { getCollection } from "astro:content";
import Miefel from "../components/Miefel";
import { Image } from "astro:assets";
import westVlaanderen from "../../public/footer/west-vlaanderen-logo.webp";
import zwevegem from "../../public/footer/zwevegem-logo.webp";
import transfo from "../../public/footer/transfo-logo.webp";
import loading from "../../public/loading.webp";
import leieDal from "../../public/footer/leiedal-logo.webp";

const copy = languages.nl;
const temp = await getCollection("schedule");
let tempRAW: { content: string; title: string }[] = [];

const eventsRaw = import.meta.glob("../content/schedule/*.md", {
  eager: true,
});
if (eventsRaw) {
  tempRAW = await Promise.all(
    Object.values(eventsRaw).map(async (event: any) => {
      const content = await event.compiledContent();
      return { content: content, title: event.frontmatter.title };
    })
  );
}

const events = await Promise.all(
  temp.map(async (event: any): Promise<IEvent> => {
    return {
      slug: event.slug,
      title: event.data.title,
      name: event.data.name,
      startTime: event.data.startTime ? new Date(event.data.startTime) : null,
      endTime: event.data.endTime ? new Date(event.data.endTime) : null,
      startTime2: event.data.startTime2
        ? new Date(event.data.startTime2)
        : null,
      endTime2: event.data.endTime2 ? new Date(event.data.endTime2) : null,
      location: event.data.location,
      heroImage: event.data.heroImage,
      tags: event.data.tags,
      content:
        tempRAW.find((eventRAW) => eventRAW.title === event.data.title)
          ?.content ?? "",
    };
  })
);
---

<html lang="nl" transition:animate="none">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={copy.description} />
    <title>{copy["title-lower-case"]}</title>
  </head>
  <body id="body">
    <div class="loading"><Image src={loading} alt="loading icon" /></div>
    <main class="main">
      <div id="hero" class="hero">
        <div id="hero__top" class="hero__top margins">
          <span id="hero__date" class="hero__date">{copy.date.festival}</span>
          <h1 id="hero__title" class="hero__title">{copy.title}</h1>
          <button id="faq__button" class="button faq__button"
            ><span class="button__arrow left">←</span>{
              copy.faq.title.toUpperCase()
            }</button
          >
        </div>

        <Interactivity
          copy={copy}
          transition:persist
          events={events}
          client:only="react"
        />
        <div id="scroll-trigger" class="md:hidden fixed inset-0 z-10"></div>
        <Miefel client:load />

        <div id="hero__bottom" class="hero__bottom margins">
          <Countdown client:only="react" language={Language.NL} />

          <p class="hero__intro">
            Wandel langs sfeervolle routes en ontdek <span class="bold"
              >intieme optredens</span
            >, kunstinstallaties, muziek en meer. Laat je raken door het thema
            ‘eenzaamheid’ en geniet van een avond vol <span class="bold"
              >warmte en creativiteit</span
            >.
          </p>
          <div class="ar-button">
            <a href="https://ar.transfo-intiem.be/" class="button"
              >TRANSFO INTIEM IN AR<span class="button__arrow right">→</span></a
            >
          </div>
          <span class="text-2xl animate-bounce">↓</span>
        </div>
      </div>
      <FAQ copy={copy} client:load />
    </main>

    <footer id="footer" class="footer">
      <div class="footer__side left">
        <div class="flex flex-row gap-15 items-center">
          <a target="_blank" href="https://www.transfozwevegem.be/">
            <Image
              width="387"
              height="153"
              decoding="async"
              loading="lazy"
              src={transfo}
              alt="Transfo logo"
            />
          </a>
          <a
            class="md:hidden"
            target="_blank"
            href="https://www.west-vlaanderen.be/"
            ><Image
              width="150"
              height="150"
              decoding="async"
              loading="lazy"
              src={westVlaanderen}
              alt="West-Vlaanderen logo"
            /></a
          >
          <a class="md:hidden" target="_blank" href="https://www.leiedal.be/"
            ><Image
              width="150"
              height="150"
              decoding="async"
              loading="lazy"
              src={leieDal}
              alt="Leiedal logo"
            /></a
          >
          <a class="md:hidden" target="_blank" href="https://www.zwevegem.be/">
            <Image
              width="150"
              height="150"
              decoding="async"
              loading="lazy"
              src={zwevegem}
              alt="Zwevegem logo"
            />
          </a>
        </div>
        <a target="_blank" href="https://maps.app.goo.gl/t7pKtMWzNho41mCL6"
          >Blokellestraat 113b, Zwevegem</a
        >
      </div>
      <div class="footer__side right">
        <a
          class="hidden md:block"
          target="_blank"
          href="https://www.west-vlaanderen.be/"
          ><Image
            width="150"
            height="150"
            decoding="async"
            loading="lazy"
            src={westVlaanderen}
            alt="West-Vlaanderen logo"
          /></a
        >
        <a
          class="hidden md:block"
          target="_blank"
          href="https://www.leiedal.be/"
          ><Image
            width="150"
            height="150"
            decoding="async"
            loading="lazy"
            src={leieDal}
            alt="Leiedal logo"
          /></a
        >
        <a
          class="hidden md:block"
          target="_blank"
          href="https://www.zwevegem.be/"
        >
          <Image
            width="150"
            height="150"
            decoding="async"
            loading="lazy"
            src={zwevegem}
            alt="Zwevegem logo"
          />
        </a>
      </div>
    </footer>
    <script src="../services/gsap.ts"></script>
    <script>
      const title = document.getElementById("hero__title");
      title?.addEventListener("click", () => {
        window.scrollTo({ top: 0, behavior: "smooth" });
      });
    </script>
  </body>
</html>
